{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 400px; background-color: #DDE6ED; padding: 30px; border-radius: 10px; color: #27374D;">
    <h2 class="text-center" style="color: #27374D;">Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" style="color: #526D82;">Username:</label>
            <input type="text" name="username" class="form-control" style="border-color: #526D82;" required>
        </div>
        <div class="form-group">
            <label for="password" style="color: #526D82;">Password:</label>
            <input type="password" name="password" class="form-control" style="border-color: #526D82;" required>
        </div>
        <button type="submit" class="btn btn-block" style="background-color: #27374D; color: #DDE6ED; border: none;">Login</button>
    </form>
</div>
{% endblock %}
